#img-bg {
  background-image: url("https://mocah.org/thumbs/5419668-minimalist-wallpaper-desk-chair-white-furniture-office-white-desk-seat-minimalism-simple-lifestyle-table-bright-empty-space-calm-white-space-writer-home-office-free-stock-photos.jpg");

  min-height: 695px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
